/*header*/
#picture {
  text-align: center;
}

/*main*/

#pretitle {
  text-align: center;
  font-family: merriweather;
  font-size: 15px;
}
#pretitle p {
  font-family: Arial, Helvetica, sans-serif;
}
#firsttitle {
  text-align: center;
  font-family: merriweather;
  font-size: large;
  font-size: 28px;
}

#text {
  text-align: left;
  font-size: 1.1rem;
  padding-left: 150px;
}

#content {
  text-align: center;
}

#bon {
  text-align: center;
  color: rgba(31, 24, 24, 0.418);
}

#on {
  color: rgb(255, 123, 0);
  padding-left: 20em;
}
#sito {
  padding-left: 20em;
}

#prefinal {
  padding-left: 20em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-right: 10em;
}
#final {
  padding-left: 24em;
  padding-right: 10em;
}
#postfinal {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-left: 24em;
}
#post {
  padding-left: 18em;
}
